.welcome-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: linear-gradient(to right, #5a5dcb, #9e3183);
    color: rgb(255, 255, 255);
    font-family: Arial, sans-serif;
  }
  
  h1 {
    font-size: 32px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 18px;
    margin-bottom: 20px;
  }
  
  .start-btn {
    background: #6200ff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .start-btn:hover {
    background: #887521;
  }
  